<h1 class="page_title">About</h1>

<h2>The Story so Far...</h2>

<p class="wrapper">
	July 1995 - Born in Cochabamba, Bolivia <br>
	1999 - Moved from Bolivia to Brazil <br>
	2000 - Started Primary School in Sao Paulo, Brazil <br>
	2007 - Moved from Brazil to Brisbane, Australia <br>
	2009 - Started High School <br>
	2012 - Graduated from Brisbane Grammar School <br>
	2013 - Started studying Economics at The University of Queensland <br>
	2014 - First solo trip to Italy, France and Switzerland <br>
	2015 - Almost quit University <br>
	2016 - Trip to Philippines, Thailand and Malaysia <br>
	Mid-2016 - Started learning programming (Python at University) <br>
	Late-2016 - Started learning web development (Front End and Ruby on Rails Framework) <br>
	January 2017 - Launched this site: <a href="/" target="_blank">santiagochamon.com</a><br>
	February 2017 - explorecities.io available here: git@bitbucket.org:llausa/ec.io_2.git<br>
</p>
<br>
<h2 class="wrapper">
	Programming as a System
</h2>
<br>
<p class="wrapper">
	According to Scott Adams, goals are for losers. What one needs is a system. Something you do every day that increases long term happiness. This means that I will strive to program every day. Why? I want to create useful applications that people can use. There are many things out there that I would like to see which don't yet exist. I am taking this opportunity to solve some of my own problem and also provide value to people around the world. This is also a great way to solidify my skill in programming.
</p>
<br>
<p class="wrapper">
	If you're interested in following me on this journey check out my <a href="https://twitter.com/santiagochamon" target="_blank">Twitter</a> or send me a <a href="/contacts/new">message</a>. To see my projects, check out my <a href="/projects">Projects</a> page.
</p>
<br>
<p class="wrapper">
	Thank you for visiting!
</p>
