<div class="wrapper clearfix">
	<div class="row-1 homepage_content">
		<hr>
		<h2>About</h2>
		<hr>
		<div class="wrapper clearfix pics">
			<img src="http://placehold.it/250x250">
		</div>
		<div class="text-block clearfix wrapper">
			<p>Hi, I am a Human.</p>
			<p>I make useful things for the Internet.</p>
			<p>If you have suggestions or questions, please contact me either through:</p>
			<br>
			<p><a href="https://twitter.com/santiagochamon" class="button">Twitter</a></p>
			<br>
			<p>or</p>
			<br>
			<p><a href="/contact" class="button">My Contact Page</a></p>
		</div>
	</div>
	<div class="row-3 homepage_content">
		<hr>
		<h2>Newest Project</h2>
		<hr>
		<div class="projects-block clearfix wrapper">
			<img src="http://placehold.it/250x250" id="project_preview">
			<br>
			<p>Pop-up butcher disrupt roof party selvage tattooed, fap occupy blog. Blue bottle pinterest thundercats, venmo meh readymade authentic cliche four dollar toast lyft. Copper mug knausgaard mumblecore humblebrag skateboard ennui, tumblr dreamcatcher keytar fingerstache yuccie.</p>
			<br>
			<a href="/projects" class="button">To see more Projects click here!</a>
		</div>
	</div>
</div>
