<div class="homepage_content">
	<hr>
	<h2>About</h2>
	<hr>
</div>

<div class="projects-block clearfix skinny_wrapper">
	<%= image_tag("SChamon.jpg") %>
	<p>Hi, I am a Human. I make useful things for the Internet. For more information, check out my <a href="/about">About </a>page. If you have suggestions or questions, please contact me either through:</p>
	<a href="https://twitter.com/santiagochamon" class="button" target="_blank">Twitter</a>
	<p>or</p>
	<a href="/contacts/new" class="button">My Contact Page</a></p>
</div>

<div class="homepage_content">
	<hr>
	<h2>Newest Project</h2>
	<hr>
</div>

<div class="projects-block clearfix skinny_wrapper homepage_content">
	<%= image_tag("first_project.png") %>
	<br>
	<p>This is my very first website made entirely from scratch. In order to learn how to do this I read Michael Hartl and watched Mackenzie Child's Ruby, RoR and Design Tutorials. You should check them out! This is a personal page and includes a contact form and a portfolio of projects.</p>
	<br>
	<a href="/projects" class="button">More Projects</a>
</div>


