<div class="homepage_content">
	<hr>
	<h2>About</h2>
	<hr>
</div>

<div class="projects-block clearfix skinny_wrapper">
	<%= image_tag("SChamon.jpg") %>
	<p>Hi, I make useful things for the Internet. For more information, check out my <a href="/about">About </a>page. If you have suggestions or questions, please contact me either through:</p>
	<a href="https://twitter.com/santiagochamon" class="button" target="_blank">Twitter</a>
	<p>or</p>
	<a href="/contacts/new" class="button">My Contact Page</a></p>
</div>

<div class="homepage_content">
	<hr>
	<h2>Newest Project</h2>
	<hr>
</div>

<div class="projects-block clearfix skinny_wrapper homepage_content">
	<%= image_tag("second_project.png") %>
	<br>
	<p>For my second project I decided to create an app that has many cities available and allows people to post cool experiences there. Hence the name explorecities.io. This was a technically challenging project for me. Nothing I wanted to achieve had a tutorial on it so I had to do a lot of learning and figuring-out myself.</p>
	<br>
	<a href="/projects" class="button">More Projects</a>
</div>


