<h1 class="page_title">My Projects</h1>

<div class="projects-block clearfix skinny_wrapper">
	<img src="http://placehold.it/250x250" id="project_preview">
	<br>
	<p>Pop-up butcher disrupt roof party selvage tattooed, fap occupy blog. Blue bottle pinterest thundercats, venmo meh readymade authentic cliche four dollar toast lyft. Copper mug knausgaard mumblecore humblebrag skateboard ennui, tumblr dreamcatcher keytar fingerstache yuccie.</p>
	<br>
	<a href="#" class="button">Link</a>
</div>