<h1 class="page_title">My Projects</h1>

<div class="projects-block clearfix skinny_wrapper">
	<%= image_tag("second_project.png") %>
	<br>
	<p>The purpose of this project was to help me expand my technical skills in web development. I did all the planning, design, front-end and back-end by myself. Of course the internet has to receive credit for guiding me and clearing my queries throughout the project. This was the first project I did where there was no tutorial for what I wanted to achieve. Thus I surprised even myself in how far I came. It goes to show that with a little bit of planning and hard work you can create anything. I only came to have real problems during deployment. The site is now online and you can find the code through the button below.</p>
	<br>
	<a href="http://www.explorecities.io" class="button" target="_blank">Link</a>
	<br>
	<br>
	<br>
	<a href="https://bitbucket.org/llausa/ec.io_2/src/fce3b06211e7?at=master" class="button" target="_blank">Code</a>
</div>

<div class="projects-block clearfix skinny_wrapper">
	<%= image_tag("first_project.png") %>
	<br>
	<p>This is my very first website made entirely from scratch. In order to learn how to do this I read Michael Hartl and watched Mackenzie Child's Ruby, RoR and Design Tutorials. You should check them out! This is a personal page and includes a contact form and a portfolio of projects.</p>
	<br>
	<a href="/" class="button" target="_blank">Link</a>
	<br>
	<br>
	<br>
	<a href="https://bitbucket.org/llausa/santiagochamon.com/src" class="button" target="_blank">Code</a>
</div>