<h1 class="page_title">My Projects</h1>

<div class="projects-block clearfix skinny_wrapper">
	<%= image_tag("second_project.png") %>
	<br>
	<p>The purpose of this project was to help me expand my technical skills in web development. I did all the planning, design, front-end and back-end by myself. Of course the internet has to receive credit for guiding me and clearing my queries throughout the project. This was the first project I did where there was no tutorial for what I wanted to achieve. Thus I surprised even myself in how far I came. It goes to show that with a little bit of planning andhard work you can create anything. I only came to have real problems during deployment. My localhost server boots up my app with no problems and Heroku build my app but when I open it I get an error telling me that Heroku doesn't like some of my ruby code. I am trying to fix this but in the meantime checkout the Bitbucket repo. The link below will take you to it.</p>
	<br>
	<a href="https://bitbucket.org/llausa/ec.io_2" class="button" target="_blank">Link</a>
</div>

<div class="projects-block clearfix skinny_wrapper">
	<%= image_tag("first_project.png") %>
	<br>
	<p>This is my very first website made entirely from scratch. In order to learn how to do this I read Michael Hartl and watched Mackenzie Child's Ruby, RoR and Design Tutorials. You should check them out! This is a personal page and includes a contact form and a portfolio of projects.</p>
	<br>
	<a href="/" class="button" target="_blank">Link</a>
</div>