<h1 class="page_title">My Projects</h1>

<div class="projects-block clearfix skinny_wrapper">
	<%= image_tag("first_project.png") %>
	<br>
	<p>This is my very first website made entirely from scratch. In order to learn how to do this I read Michael Hartl and watched Mackenzie Child's Ruby, RoR and Design Tutorials. You should check them out! This is a personal page and includes a contact form and a portfolio of projects.</p>
	<br>
	<a href="/" class="button">Link</a>
</div>