<footer id="main_footer">
	<p class="copyright">&copy;2017 Santiago Chamon</p>
	<nav>
		<a href="https://github.com/llausa?tab=repositories" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
		<a href="https://www.linkedin.com/in/santiago-chamon-540158121/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
	</nav>
</footer>
